.Container {
  width: 550px;
  height: 868px;
  margin-left: 100px;
}

body {
  background-color: #23252c;
}

.info--name {
  color: #ffffff;
  font-size: 25px;
  font-family: inter;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.info--post {
  color: #f3bf99;
  font-size: 12.8px;
  font-family: inter;
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
}

.info--mailid {
  color: #f5f5f5;
  font-size: 10.24px;
  font-family: inter;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  text-align: center;
}

.info--btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  width: 247px;
  height: 34px;
  left: 151px;
  right: 469px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-sizing: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-left: 35px;
}

.info--mailicon {
  margin-right: 12.2px;
}

.incoloum {
  margin-left: 116px;
  width: 317px;
  background: #1a1b21;
  height: 710px;
}

.info--logo {
  width: 317px;
  height: 317px;
  margin-left: 0px;
  margin-top: 4.4px;
  border-radius: 10px 10px 0px 0px;
}

.about--title {
  margin-left: 35px;
  color: #f5f5f5;
  font-size: 16px;
  font-family: inter;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.about--para {
  margin-left: 35px;
  color: #dcdcdc;
  font-size: 10.24px;
  font-family: inter;
  font-style: normal;
  font-weight: bold;
  max-width: 250px;
  line-height: 150%;
}

.interest--title {
  margin-left: 35px;
  color: #f5f5f5;
  font-size: 16px;
  font-family: inter;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
}

.interest--para {
  margin-left: 35px;
  color: #dcdcdc;
  font-size: 10.24px;
  font-family: inter;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  max-width: 250px;
}

.footer--container {
  background: #161619;
  width: 317px;
  margin-left: 116px;
  height: 34px;
  border-radius: 0px 0px 10px 10px;
}

.footer--twitter {
  margin-left: 55px;
}

.footer--icon {
  margin-top: 4px;
  margin-left: 20px;
}
